@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import url("https://fonts.googleapis.com/css?family=Chakra+Petch:400,300,700");

.App {
    text-align: center;
}

body {
    font-family: 'Chakra Petch', sans-serif !important;
}

.background-gradient {
    background: linear-gradient(90deg, rgba(53, 255, 255, 0.47), rgb(84, 243, 156), rgba(243, 235, 84, 0.91), rgba(255, 129, 51, 0.93) 95%);
}