.gallery-container::before {
    content: '';
    position: fixed;
    z-index: -2;
    top: 0;
    left: 0;
    width: 400%;
    height: 100%;
    background: linear-gradient(45deg, rgb(207,42,186), rgb(151,120,209) 15%, rgb(74,234,220) 70%, rgb(254,248,76));
    animation: gradient 10s linear infinite alternate;
}

@keyframes gradient {
    100% {
        transform: translateX(-75%);
    }
}

.gallery-container.gallery-spacing {
    padding-left: 4%;
    padding-right: 4%;
}