.home-header {
    width: 100%;
    position: fixed;
}

.canvas-container {
    padding-top: 96px;
    height: 100%;
}

.landing-text {
    background: linear-gradient(45deg, rgb(207,42,186), rgb(151,120,209) 15%, rgb(74,234,220) 70%, rgb(254,248,76));
    background-clip: text;
    color: transparent;
}

.animated-text {
    animation: wave 2s infinite;
}

@keyframes wave {
    0%, 100% {
        transform: translateY(0)
    }
    50% {
        transform: translateY(-20px)
    }
}