.search-input.form-control {
    background-color: hsla(0,0%,100%,.6);
    border: 2px solid white;
    border-radius: 100px;
    min-width: 30vw;
    text-decoration-color: black;
    text-decoration-thickness: 0.2rem;
    text-underline-offset: 0.1em;
}

.search-input:not(:focus) {
    animation: blink 2s step-end infinite;
}

@keyframes blink {
    0%, 100% {
        text-decoration-line: none;
    }
    50% {
        text-decoration-line: underline;
    }
}