/*.background {*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100vw;*/
/*    height: 20vh;*/
/*    z-index: -1;*/
/*    background-size: 500%;*/
/*    animation: bg-animation 12s infinite alternate;*/
/*}*/


html::before {
    content: "";
    position: fixed;
    z-index:-2;
    top: 0;
    left: 0;
    width: 600%;
    bottom: 0;
    background: linear-gradient(45deg, rgba(202, 177, 255, 1) 0%, rgba(163, 249, 255, 1) 74%, rgba(192, 255, 217, 1) 100%);
    animation: gradient 14s linear infinite alternate;
}

@keyframes gradient {
    100% {
        transform: translateX(-66.66%) /* 2/3x100% */
    }
}

@keyframes bg-animation {
    100% {
        transform: translateX(66.66%);
    }
}